body {
  font-family:Georgia, 'Times New Roman', Times, Serif;
  font-size:15px;
}

#content {
  width:700px;
  border:1px solid lightgrey;
  padding:25px;
}

#map a {
  font-size:0.7em;
}

#title {
  padding-left:25px;
  position:relative;
}

#title h1 {
  display:block;
}

#footer {
  padding-left:25px;
}

#footer table {
  width:700px;
}

#signup {
  position:absolute;
  left:423px;
  top:6px;
}

#response {
  position:absolute;
  top:4px;
  right:-306px;
  width:300px;
  text-align:right;
}

#signup input {
  border:1px solid lightgrey;
  font-style:oblique;
  font-family:Georgia, 'Times New Roman', Times, Serif;
  font-size:13px;
  padding:3px;
  padding-left:10px;
  width:300px;
  text-align:right;
}

