body {
  font-family:Georgia, 'Times New Roman', Times, Serif;
  font-size:15px;
}

#content {
  width:700px;
  border:1px solid lightgrey;
  padding:25px;
}

#map a {
  font-size:0.7em;
}

#title {
  padding-left:25px;
}

#footer {
  padding-left:25px;
}

#footer input {
  border:1px solid lightgrey;
  font-style:oblique;
  font-family:Georgia, 'Times New Roman', Times, Serif;
  font-size:13px;
  padding:3px;
  padding-left:7px;
  width:330px;
}