body {
  font-family:Georgia, 'Times New Roman', Times, Serif;
  font-size:15px;
}

#map {
  margin:10px 0 20px 0;
}

#map a {
  font-size:0.9em;
  font-style:oblique;
}

#title {
}

#response {
  margin-top:9px;
  text-align:right;
}

#signup input {
  margin-top:7px;
  border:1px solid lightgrey;
  font-style:oblique;
  font-family:Georgia, 'Times New Roman', Times, Serif;
  font-size:13px;
  padding:3px;
  padding-left:10px;
  width:280px;
  text-align:right;
}

span.address {
  font-size:0.85em;
  font-style:oblique;
}

.infoemail {
  text-align:right;
}

.contentsep {
  border-top:1px solid lightgrey;
  border-bottom:1px solid lightgrey;
  padding-top:20px;
  margin-bottom:20px;
}

#nav a {
  text-decoration:none;
  text-transform:uppercase;
  font-weight:normal;
  font-family:arial;
  font-size:0.8em;
}

#nav a:hover {
  font-weight:bold;
}

#nav ul {
  height:22px;
  margin:0 0 10px 0;
  padding:0;
  border-bottom:1px solid lightgrey;

}

#nav li {
  margin:0 3px 0 3px;
  padding:5px 10px 5px 10px;
  display:block;
  width:40px;
  height:10px;
  float:left;
  border:1px solid lightgrey;
  border-bottom:1px solid white;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  text-align:center;
}
