{% extends "base.html"%}

{% block content %}

<div class="contentsep">

<p>
<b>Sunday, 16 May 2010</b><br/>
The Church's Mission: Acts 1:6-11<br/>
<i>Matt McCullough</i> &#8212;
<a href="http://media.tcnash.org/2010-05-16-Acts-1-8.mp3">MP3</a><br/>
Using Jesus' commission to his followers in Acts 1, we unpack how the
church exists to witness to Jesus through both its clear verbal
testimony and through the quality of its life as community.
</p>

<p>
<b>Sunday, 23 May 2010</b><br/>
The Church's Message: Acts 2, 13, 17<br/>
<i>Matt McCullough</i> &#8212;
<a href="http://media.tcnash.org/2010-05-23-Acts-Gospel.mp3">MP3</a><br/>
The church exists to witness to Jesus, which means clearly explaining
what he is like and why his life and work matter.  We look at several
of the apostles' speeches to show the content of their message about
Jesus.
</p>

<p>
<b>Sunday, 6 June 2010</b><br/>
The Church's Life Together: Acts 2:42-47<br/>
<i>Matt McCullough</i> &#8212;
<a href="http://media.tcnash.org/2010-06-06-Acts-2-42-47.mp3">MP3</a><br/>
Witnessing to Jesus also involves the church living as a distinct
community that illustrates his character.  Luke summarizes how members
of the first church shared all of life together.
</p>

<p>Return to <a href="/">map</a>.</p>

</div>

{% endblock content %}
