{% extends "resources.html"%}

{% block classes-audio %}active{% endblock %}

{% block content %}

<h2>Audio</h2>

<h3>Sermons</h3>

<p>
<b>Sunday, 26 September 2010</b><br/>
Mark 1:16-45: Jesus's Liberating Authority<br/>
<i>Matt McCullough</i> &#8212;
<a href="http://media.tcnash.org/2010-09-26-Mark-1-Jesus-Liberating-Authority.mp3">MP3</a><br/>
In this passage Mark tells a group of stories designed to show that
Jesus came preaching the kingdom with a remarkably distinctive
authority.  But these stories also reveal a paradoxical truth:
submission to Jesus's loving authority sets you free.
</p>

<p>
<b>Sunday, 19 September 2010</b><br/>
Mark 1:1-16: Who Is Jesus?<br/>
<i>Matt McCullough</i> &#8212;
<a href="http://media.tcnash.org/2010-09-19-Mark-1-Who-Is-Jesus.mp3">MP3</a><br/>
</p>

<h3>Sevier Park Sessions</h3>

<p>
Between February and September of 2010, a group of approximately
thirty people met weekly at a local community center to discuss why
Nashville may need another church.  By the conclusion of their time
together, it became clear that Jesus Christ built his ministry on the
expansion of his church.  The news of his life, death, and
resurrection is best demonstrated by people committing to live close
to one another in self-sacrificial, counter-cultural love.  Each of
these sessions was recorded and is available
<a href="audio/sevier.html">here</a>.
</p>

{% endblock content %}
