{% extends "base.html"%}

{% block content %}

<div class="contentsep">

<p>
<b>Sunday, 16 May 2010</b><br/>
<i>Matt McCullough</i> &#8212;
<a href="http://media.tcnash.org/2010-05-16-Acts-1-8.mp3">MP3</a><br/>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
convallis condimentum dolor, at tincidunt massa feugiat at. Curabitur
eu risus diam. Lorem ipsum dolor sit amet, consectetur adipiscing
elit. Mauris vestibulum molestie arcu vel dictum. Mauris consectetur
porttitor dui at pulvinar.
</p>

<p>
<b>Sunday, 23 May 2010</b><br/>
<i>Matt McCullough</i> &#8212;
<a href="http://media.tcnash.org/2010-05-23-Acts-Gospel.mp3">MP3</a><br/>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
convallis condimentum dolor, at tincidunt massa feugiat at. Curabitur
eu risus diam. Lorem ipsum dolor sit amet, consectetur adipiscing
elit. Mauris vestibulum molestie arcu vel dictum. Mauris consectetur
porttitor dui at pulvinar.
</p>

<p>
<b>Sunday, 6 June 2010</b><br/>
<i>Matt McCullough</i> &#8212;
<a href="http://media.tcnash.org/2010-06-06-Acts-2.mp3">MP3</a><br/>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
convallis condimentum dolor, at tincidunt massa feugiat at. Curabitur
eu risus diam. Lorem ipsum dolor sit amet, consectetur adipiscing
elit. Mauris vestibulum molestie arcu vel dictum. Mauris consectetur
porttitor dui at pulvinar.
</p>

<p>Return to <a href="/">map</a>.</p>

</div>

{% endblock content %}
