<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Trinity Church of Nashville</title>
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/reset.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/text.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/960.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/screen.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.4.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/application.js"></script>
</head>
<body>

<div class="container_16">
<div class="grid_16">&nbsp;</div>

<!-- Row 1 -->

<div id="title" class="grid_5">
<h1>Trinity Church</h1>
</div>

<div class="grid_5">
<div id="signup">
<form action="/500.html">
<input id="email" name="email" type="text" value="Want email updates?  Enter your address." />
</form>
</div>
</div>

<div class="grid_6"></div>

<div class="clear"></div>

<!-- Row 2 -->

<div class="grid_10">

<div id="nav">
<ul class="nav-ul">

<li class="menu-head">
<a class="{% block classes-about %}{% endblock %}" href="/about.html">About</a>
<ul class="menu" style="display:none">
<li><a class="{% block classes-commitments %}{% endblock %}" href="/commitments.html">Our Core Commitments</a></li>
<li><a class="{% block classes-beliefs     %}{% endblock %}" href="/beliefs.html">Our Beliefs</a></li>
<li><a class="{% block classes-covenant    %}{% endblock %}" href="/covenant.html">Our Covenant</a></li>
<li><a class="{% block classes-leadership  %}{% endblock %}" href="/leadership.html">Our Leadership</a></li>
<li><a class="{% block classes-pastor      %}{% endblock %}" href="/pastor.html">Our Pastor</a></li>
</ul>
</li>

<li class="menu-head">
<a class="{% block classes-life %}{% endblock %}" href="/life.html">Life at Trinity</a>
<ul class="menu" style="display:none">
<li><a class="{% block classes-worship      %}{% endblock %}" href="/worship.html">Worship</a></li>
<li><a class="{% block classes-groups       %}{% endblock %}" href="/groups.html">Covenant Groups</a></li>
<li><a class="{% block classes-discipleship %}{% endblock %}" href="/discipleship.html">Discipleship</a></li>
<li><a class="{% block classes-kids         %}{% endblock %}" href="/kids.html">Trinity Kids</a></li>
<li><a class="{% block classes-ministry     %}{% endblock %}" href="/ministry.html">Ministry</a></li>
</ul>
</li>

<li class="menu-head">
<a class="{% block classes-connect %}{% endblock %}" href="/connect.html">Connect to Trinity</a>
<ul class="menu" style="display:none">
<li><a class="{% block classes-first-timers %}{% endblock %}" href="/first-timers.html">First-Timers</a></li>
<li><a class="{% block classes-membership   %}{% endblock %}" href="/membership.html">Membership</a></li>
</ul>
</li>

<li class="menu-head">
<a class="{% block classes-resources %}{% endblock %}" href="/resources.html">Resources</a>
<ul class="menu" style="display:none">
<li><a class="{% block classes-audio    %}{% endblock %}" href="/audio.html">Audio</a></li>
</ul>
</li>
</ul>

</div>
<div class="clear"></div>

<div id="content">
<div class="contentsep">

{% block content %}
{% autoescape off %}
{{ content }}
{% endautoescape %}
{% endblock content %}

</div>
</div>
</div>

<div class="grid_6"></div>
<div class="clear"></div>

<!-- Row 3 -->

<div class="grid_5">
&copy 2010 Trinity Church of Nashville
</div>

<div class="grid_5 infoemail">
<a href="mailto:mail@tcnash.org">mail@tcnash.org</a>
</div>

<div class="grid_6">&nbsp</div>
<div class="clear"></div>

<div class="grid_10">
<span class="address">PO Box 41814, Nashville, TN 37204</span>
</div>

<div class="grid_6">&nbsp;</div>

<div class="clear"></div>
<div class="grid_16 spacer">&nbsp;</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-13120469-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
