{% extends "base.html"%}

{% block content %}

<p>
<i><b>Trinity Church</b></i> is a church plant partnering
with <a href="http://gccnashville.org">Grace Community Church</a> for
ministry in Nashville's city-center.
</p>

<p>
We meet for Sunday worship at 10:30AM
at <a href="http://j.mp/9NN3Rk"><b>Eakin Elementary School</b></a>.
Come early and join us for a book study
of <a href="http://amzn.com/083081650X"><i>Knowing God</i></a> at
9:00A.
</p>

<!-- Note: iwloc= removes info window. http://mapki.com/wiki/Google_Map_Parameters -->

<div id="map">
<iframe width="580" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?iwloc=&amp;ie=UTF8&amp;q=eakin+elementary+nashville&amp;fb=1&amp;gl=us&amp;hq=eakin+elementary&amp;hnear=Nashville,+TN&amp;hl=en&amp;view=map&amp;cid=4245212634221332061&amp;ved=0CIgBEKUG&amp;ei=rjF8TOnFCY-GzgTD0dmqAQ&amp;ll=36.138464,-86.807141&amp;spn=0.010397,0.024848&amp;t=p&amp;z=15&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?iwloc=&amp;ie=UTF8&amp;q=eakin+elementary+nashville&amp;fb=1&amp;gl=us&amp;hq=eakin+elementary&amp;hnear=Nashville,+TN&amp;hl=en&amp;view=map&amp;cid=4245212634221332061&amp;ved=0CIgBEKUG&amp;ei=rjF8TOnFCY-GzgTD0dmqAQ&amp;ll=36.138464,-86.807141&amp;spn=0.010397,0.024848&amp;t=p&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>

{% endblock content %}
