{% extends "base.html"%}

{% block content %}

<p>
<i><b>Trinity Church</b></i> is a church plant partnering
with <a href="http://gccnashville.org">Grace Community Church</a> for
ministry in Nashville's city-center.  With an official launch set for
mid-September 2010, we currently meet for Bible study and prayer on
<b>Sunday evenings</b> at the <b>Sevier Park Community Center</b> in
the 12th South neighborhood of Nashville.  The meetings begin
at <b>5:30PM</b> and last until approximately 7:00PM.  Childcare is
provided.  <a href="audio.html">Audio recordings</a> are available.
</p>

<div id="map">
<iframe width="580" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;t=p&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Sevier+Community+Center,+3021+Lealand+Lane,+Nashville,+TN+37204-2517&amp;sll=36.028949,-86.710321&amp;sspn=0.006265,0.013797&amp;ie=UTF8&amp;hq=Sevier+Community+Center,&amp;hnear=3021+Lealand+Ln,+Nashville,+TN+37204&amp;ll=36.123594,-86.785469&amp;spn=0.013866,0.051413&amp;z=14&amp;iwloc=&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Sevier+Community+Center,+3021+Lealand+Lane,+Nashville,+TN+37204-2517&amp;sll=36.028949,-86.710321&amp;sspn=0.006265,0.013797&amp;ie=UTF8&amp;hq=Sevier+Community+Center,&amp;hnear=3021+Lealand+Ln,+Nashville,+TN+37204&amp;ll=36.123594,-86.785469&amp;spn=0.013866,0.051413&amp;z=14" target="__" style="color:#0000FF;text-align:left">View in Google Maps</a></small>
</div>

{% endblock content %}
