<div id="nav">
<ul class="nav-ul">

<li class="menu-head">
<a class="{% block classes-about %}{% endblock %}" href="/about.html">About</a>
<ul class="menu" style="display:none">
<li><a class="{% block classes-commitments %}{% endblock %}" href="/commitments.html">Our Core Commitments</a></li>
<li><a class="{% block classes-beliefs     %}{% endblock %}" href="/beliefs.html">Our Beliefs</a></li>
<li><a class="{% block classes-covenant    %}{% endblock %}" href="/covenant.html">Our Covenant</a></li>
<li><a class="{% block classes-leadership  %}{% endblock %}" href="/leadership.html">Our Leadership</a></li>
<li><a class="{% block classes-pastor      %}{% endblock %}" href="/pastor.html">Our Pastor</a></li>
</ul>
</li>

<li class="menu-head">
<a class="{% block classes-life %}{% endblock %}" href="/life.html">Life at Trinity</a>
<ul class="menu" style="display:none">
<li><a class="{% block classes-worship      %}{% endblock %}" href="/worship.html">Worship</a></li>
<li><a class="{% block classes-groups       %}{% endblock %}" href="/groups.html">Covenant Groups</a></li>
<li><a class="{% block classes-discipleship %}{% endblock %}" href="/discipleship.html">Discipleship</a></li>
<li><a class="{% block classes-kids         %}{% endblock %}" href="/kids.html">Trinity Kids</a></li>
<li><a class="{% block classes-ministry     %}{% endblock %}" href="/ministry.html">Ministry</a></li>
</ul>
</li>

<li class="menu-head">
<a class="{% block classes-connect %}{% endblock %}" href="/connect.html">Connect to Trinity</a>
<ul class="menu" style="display:none">
<li><a class="{% block classes-first-timers %}{% endblock %}" href="/first-timers.html">First-Timers</a></li>
<li><a class="{% block classes-membership   %}{% endblock %}" href="/membership.html">Membership</a></li>
</ul>
</li>

<li class="menu-head">
<a class="{% block classes-resources %}{% endblock %}" href="/resources.html">Resources</a>
<ul class="menu" style="display:none">
<li><a class="{% block classes-audio    %}{% endblock %}" href="/audio.html">Audio</a></li>
</ul>
</li>
</ul>

</div>
