<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Trinity Church Nashville</title>
<link rel="stylesheet" href="../static/css/reset.css" />
<link rel="stylesheet" href="../static/css/text.css" />
<link rel="stylesheet" href="../static/css/960.css" />
<link rel="stylesheet" href="../static/css/signup.css" />
<script type="text/javascript" src="../static/js/jquery-1.4.min.js"></script>
<script type="text/javascript" src="../static/js/signup.js"></script>
</head>
<body>

<div class="container_12">
<div class="grid_12 spacer">&nbsp;</div>
<div class="grid_12 spacer">&nbsp;</div>
<div class="grid_12 spacer">&nbsp;</div>
<div class="grid_12">

<div id="formwrap">
<div id="blurb">
<h1>Trinity Church Nashville</h1>
<p>
Welcome to this ministry of
<a href="http://gccnashville.org" target="__">Grace Community Church</a>.
In order to receive updates about meeting times and other
information, please sign up below.
</p>
</div>

<form id="signupform" action="" autocomplete="off">
<table>
<tr>
<td class="label"><label id="lfirstname" for="firstname">First Name</label></td>
<td class="field"><input id="firstname" name="firstname" type="text" class="textfield" value="John" maxlength="100" /></td>
<td class="status"><span id="firstname_status" ></span></td>
</tr>
<tr>
<td class="label"><label id="llastname" for="lastname">Last Name</label></td>
<td class="field"><input id="lastname" name="lastname" type="text" class="textfield" value="Smith" maxlength="100" /></td>
<td class="status"><span id="lastname_status" ></span></td>
</tr>
<tr>
<td class="label"><label id="lemail" for="email">Email Address</label></td>
<td class="field"><input id="email" name="email" type="text" value="john@gmail.com" class="textfield" maxlength="150" /></td>
<td class="status"><span id="email_status" ></span></td>
</tr>
<tr>
<td class="label"><label id="lsignupsubmit" for="signupsubmit">&nbsp;</label></td>
<td class="field" colspan="2">
<input id="signupsubmit" name="signup" type="submit" value="Sign Up" />
</tr>
</table>
</form>
<div id="thinking"><img src="../static/img/thinking.gif" /></div>
<div id="message"></div>
</div>

</div>

<div class="grid_12">
<div id="footer">
<p>&copy 2010 Trinity Church Nashville | <a href="mailto:info@trinash.org">info@trinash.org</a></p>
</div>
</div>
</div>

</body>
</html>
